.banner { 
    justify-content: center;
    background-color:lightgrey; 
  }

.banner-content { 
    padding: 10px; 
    padding-left: clamp(15px, 2vw, 50px);
    color:black;
    font-size: clamp(30px, 6vw, 60px);
}

.banner-link {
    color: black;
    padding-top: 30px;
    padding-right: clamp(15px, 2vw, 50px);
    font-size: clamp(20px, 4vw, 50px);
    text-decoration: none;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.center-text {
    text-align: center;
}

.inline {
    display: flex;
    justify-content: space-between;
}

.no-decoration a{
    text-decoration: none;
}

.no-padding {
    padding: 0px !important;
}

.black {
    color: black;
}

.white {
    color: ghostwhite;
}

/* About page */

.icon-white{
    color:ghostwhite;
    outline: none;
    box-shadow: none;
}

/* List of boxes + thumbnails */
.box {
    width: calc(90vw - 20vh);
    height: calc(8vh + 3*5vw);
    background-color: #ffffffd6;
    text-shadow: 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    position: relative;
    margin-left: calc(10vw + 5vh);
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.home {
  width: 80vw;
  height: calc(10vh + 4*5vw);
  background-color: #ffffffd6;
  text-shadow: 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}


.home:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white; /* Ensure text is readable */
    padding: 10px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
    font-size: calc(1vw + 2vh) !important;
}

.bottom-left-small {
    font-size: calc(0.5vw + 1vh) !important;
}

.bottom-right {
    position: absolute;
    right: -2vh;
    color: white; /* Ensure text is readable */
    padding: 10px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
    font-size: calc(0.5vw + 0.5vh);
}

.bottom-left-box {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white; /* Ensure text is readable */
    padding: 10px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
    font-size: calc(1vw + 1.5vh);
}

.bottom-left-small-box {
    font-size: calc(0.5vw + 1vh);
}

.bottom-right-box {
    position: absolute;
    bottom: -1vh;
    right: 0;
    color: white; /* Ensure text is readable */
    padding: 10px; /* Adjust as needed */
    margin: 0; /* Remove default margin */
    font-size: calc(0.5vw + 1vh);
}

.img{
  width: 50vw; /* Adjust the width factor as needed */
  max-width: 100%; /* Ensure the image does not exceed its original size */
  height: auto; /* Maintain the aspect ratio */
}


/* Search and dropdown */
.category-filter {
    flex: 0 0 auto;
    margin-right: 20px;
    color: ghostwhite;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .category-list {
    list-style-type: none;
    padding: 0;
  }
  
  .category-list li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .category-list li .arrow {
    margin-right: 10px;
    transition: transform 0.3s;
  }
  
  .category-list li .arrow.down {
    transform: rotate(90deg);
  }
  
  .subcategory-list {
    list-style-type: none;
    padding-left: 40px;
    display: none; /* Ensure subcategories are collapsed initially */
  }
  
  .category-list a {
    text-decoration: none;
    color: ghostwhite;
    font-weight: bold;
  }

body {
    font-family: "Noto Sans";
    background-color:#3A3B3C;
    color:ghostwhite;
    padding: 1vw;
}

.center {
    text-align: center;
    max-width: 60vw;
    margin: 0 auto; /* Center the container */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.video-container video {
  max-width: 100%;
  height: auto;
}

.code {
  background-color: #212121;
  color: #e0e0e0;
  font-family: Consolas, monospace;
  font-size: 14px;
  display: inline-block;
  padding: 1px 4px;
  white-space: nowrap;
  border-radius: 1vw;
}



h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;

}

